{{! (Kiểm tra xem có nhiều hơn 1 trang không) }}
{{#if (gt pagination.totalPages 1)}}
<nav aria-label="Page navigation" class="mt-5 d-flex justify-content-center">
    <ul class="pagination">

        {{! Nút Trang Trước }}
        {{#if (gt pagination.currentPage 1)}}
        <li class="page-item">
            {{! Nối page vào query string, nếu query string rỗng thì dùng ? }}
            <a class="page-link"
                href="?{{#if pagination.queryString}}{{pagination.queryString}}&{{/if}}page={{subtract pagination.currentPage 1}}">
                &laquo;
            </a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
        {{/if}}

        {{! Hiển thị các số trang }}
        {{#each (generatePageNumbers pagination.totalPages pagination.currentPage)}}
        {{#if this.isEllipsis}}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {{else}}
        <li class="page-item {{#if this.isCurrent}}active{{/if}}">
            <a class="page-link"
                href="?{{#if ../pagination.queryString}}{{../pagination.queryString}}&{{/if}}page={{this.number}}">
                {{this.number}}
            </a>
        </li>
        {{/if}}
        {{/each}}

        {{! Nút Trang Sau }}
        {{#if (lt pagination.currentPage pagination.totalPages)}}
        <li class="page-item">
            <a class="page-link"
                href="?{{#if pagination.queryString}}{{pagination.queryString}}&{{/if}}page={{add pagination.currentPage 1}}">
                &raquo;
            </a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
        </li>
        {{/if}}

    </ul>
</nav>
{{/if}}